{% extends "j_app/shared/base.html" %}
{% load compress %}
{% load static from staticfiles %}

{% block bootstrap_vars %}
	var JOURNALS = {{ journals }};
	var USER = {{user}};
{% endblock %}

{% block custom_less %}
	{% compress css%}
	{{ block.super }}
	<!-- INSERT LINKS HERE -->
	<link type="text/less" rel="stylesheet" href="{{STATIC_URL}}j_app/journal/less/base.less"/>
	<!-- 				   -->
	{% endcompress %}
{% endblock %}

{% block main_content %}
	<div class="journal-view-ctr sidebar">
		<div class="journal-view">
			<h4 class="journal-view-header">Journals</h4>
			<ul class="journals"></ul>
			<button class="add-journal btn btn-default">Add Journal</button>
		</div>
		<button class="side-caret">
			<i class="fa fa-chevron-left"></i>
		</button>
	</div>
	<div class="page-view-ctr-wrapper container clearfix">
		<div class="page-view-ctr container">
			<div class="row">
				<div class="col-xs-offset-3 col-xs-9 col-sm-offset-2 col-sm-9 page-view">
				</div>
			</div>
			<div class="row">
				<button class="col-xs-offset-3 col-xs-2 btn-default btn prev-page page-ctrl">Previous Page</button>
				<button class="col-xs-offset-5 col-xs-2 btn-default btn next-page page-ctrl">Next Page</button>
			</div>
		</div>
	</div>
{% endblock %}

{% block backbone_templates %}
	<script id="journal-view-template" type="text/template">
		<% _.each(attrs, function (att) { %>
		<li id="journal-<%= att.id %>" class="journal" data-jid="<%= att.id %>">
			<div class="journal-name">
				<%= att.textFilename %>
			</div>
			<button class="delete-journal">
				<i class="fa fa-times"></i>
			</button>
		</li>
		<% }); %>
	</script>
	<script id="page-view-template" type="text/template">
		<div class="journal-header col-xs-12">
			<div class="row">
				<span class="j-head-text col-xs-8"><%= journal.textFilename %></span>
				<button class="edit-journal-name col-xs-4"><i class="fa fa-pencil"></i></button>
			</div>
		</div>
		<div class="journal-subheader col-xs-12">
			<div class="row">
			<div class="page-info col-xs-8"><%= date %>&emsp;&emsp;Page:<%= page_num %>/<%= len %></div>
			<div class="save-status col-xs-4"></div>
			</div>
		</div>
		<div class="add-rem-page-ctrl col-xs-12">
			<button class="add-page btn btn-default">Add Page</button>
			<button class="delete-page btn btn-default">Delete Page</button>
		</div>
		<div class="editable-box">
		</div>
	</script>
{% endblock %}

{% block custom_js %}
	{% compress js %}
	{{ block.super }}
	<!-- INSERT SCRIPTS HERE -->
	<!-- Backbone Models -->
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/models/JournalPageModels.js"></script>
	<!-- Backbone Collections -->
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/collections/Journals.js"></script>
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/collections/Pages.js"></script>
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/collections/Imgs.js"></script>
	<!-- Backbone Views -->
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/views/JournalView.js"></script>
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/views/PageView.js"></script>
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/views/JournalPageView.js"></script>
	<!-- 				   -->
	{% endcompress %}
{% endblock %}