{% extends "j_app/shared/base.html" %}
{% load compress %}
{% load static from staticfiles %}

{% block bootstrap_vars %}
	var JOURNALS = {{ journals }};
	var PAGE = [{{ page }}];
{% endblock %}

{% block custom_less %}
	{% compress css%}
	{{ block.super }}
	<!-- INSERT LINKS HERE -->
	<link type="text/less" rel="stylesheet" href="{{STATIC_URL}}j_app/journal/less/base.less"/>
	<!-- 				   -->
	{% endcompress %}
{% endblock %}

{% block main_content %}
	<div class="journal-view-ctr sidebar">
		<div class="journal-view">
			<h4 class="journal-view-header">Journals</h4>
			<ul class="journals"></ul>
		</div>
		<div class="side-caret">
			<i class="fa fa-chevron-left"></i>
		</div>
	</div>
	<div class="page-view-ctr-wrapper container clearfix">
		<div class="page-view-ctr container">
			<div class="row">
				<div class="col-xs-offset-3 col-xs-9 page-view">
				</div>
			</div>
			<div class="row">
				<button class="col-md-offset-3 col-md-2 btn-default btn prev-page page-ctrl">Previous Page</button>
				<button class="col-md-offset-5 col-md-2 btn-default btn next-page page-ctrl">Next Page</button>
			</div>
		</div>
	</div>
{% endblock %}

{% block backbone_templates %}
	<script id="journal-view-template" type="text/template">
		<% _.each(attrs, function (att) { %>
		<li id="journal-<%= att.id %>" class="journal" data-jid="<%= att.id %>">
			<%= att.textFilename %>
		</li>
		<% }); %>
	</script>
	<script id="page-view-template" type="text/template">
		<h3><%= page.journal.textFilename %></h3>
		<h5><%= page.date %>&emsp;&emsp;Page:<%= page_num %>/<%= len %></h5>
		<div class="editable-box">
		</div>
	</script>
{% endblock %}

{% block custom_js %}
	{% compress js %}
	{{ block.super }}
	<!-- INSERT SCRIPTS HERE -->
	<!-- Backbone Models -->
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/models/JournalPageModels.js"></script>
	<!-- Backbone Collections -->
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/collections/Journals.js"></script>
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/collections/Pages.js"></script>
	<!-- Backbone Views -->
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/views/JournalView.js"></script>
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/views/PageView.js"></script>
	<script src="{{STATIC_URL}}j_app/journal/js/backbone/views/JournalPageView.js"></script>
	<!-- 				   -->
	{% endcompress %}
{% endblock %}