// Mixins and defaults
.collapsed {
  height: 0px !important;
}

a:hover {
  text-decoration: none;
}

// CLEARFIX
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* close commented backslash hack */

html {
  height: 100%;
  body {
    position: relative;
    height: 100%;
    .body-wrapper {
      min-height: 100%;
      position: relative;
      font-family: 'Titillium Web', sans-serif;
      margin: 0;
      padding: 0 0 75px 0;
      background-color: #fafafa;
      .header {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        padding: 10px 15px;
        font-size: 25px;
        .logo-ctr {
          cursor: pointer;  
          .logo-crop {
            width: 45px;
            overflow: hidden;
            position: relative;
            display: inline-block;
            height: 35px;
            vertical-align: top;
            img {
              position: absolute;
              height: 35px;
              right: 4px;
            }
          }
          &:hover {
            .logo-text {
              .journ {
                color: #45b3e7;
              }
              .elope {
                color: #e7d748;
              }
            }
            img {
              right: initial;
            }
          }
        }
        .right-menu {
          cursor: pointer;
          position: relative;
          float: right;
          font-size: 20px;
          overflow: hidden;
          .header-username {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .header-menu {
        float: right;
        margin-right: 15px;
        list-style-type: none;
        padding: 0;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0 0 5px #ddd;
        li {
          cursor: pointer;
          margin: 15px 10px;
          &:hover {
            background-color: #fafafa;
          }
        }
      }
      .footer-ctr {
        background-color: #fff;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-top: 1px solid #ccc;
        .footer {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

// ImgTxtHybrid Styling
.upload-image {
  cursor: move;
  &:active {
    box-shadow: 0 0 9px 1px #444;
  }
  .delImg {
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: #ff0000;
    text-shadow: 2px 2px #555;
  } 
}