{% load string_ops %}

{% if access_type == "signup" %}
	<form class="col-sm-12 col-md-5 auth-form" method="POST">
{% elif access_type == "login" %}
	<form class="col-sm-12 col-md-5 col-md-offset-2 auth-form" method="POST">
{% endif%}
	{% csrf_token %}
	<h3> {% if access_type == "signup" %}
			Sign Up (New Users)
		 {% elif access_type == "login" %}
		 	Log In (Returning Users)
		 {% endif %} </h3>
	{% for input in target_form %}
		<div class="row field-row">
			<span class="col-xs-12 field-label">
				<label for="{{ input.id_for_label }}">
					{{ input.label|removeColon }}
				</label>
			</span>
			<span class="col-xs-12 field-input">{{ input }}</span>
			<span class="col-xs-12 field-error">{{ input.errors}}</span>
		</div>
	{%  endfor %}
	<div class="row field-row">
		<button class="btn btn-default auth-button">
		{% if access_type == "signup" %}
			Sign Up!
		 {% elif access_type == "login" %}
		 	Log In!
		 {% endif %}</button>
	</div>
	<input type="hidden" name="access_type" value="{{ access_type }}">
</form>