.vert-collapsed {
	width: 50px !important;
}

.sidebar {
	position: fixed;
	overflow: hidden;
	min-height: 100%;
	float: left;
	width: 200px;
	background-color: #fff;
	padding: 20px;
	border-right: 1px #ccc solid;
	border-top: 1px #ccc solid;
	border-radius: 5px;
	.journal-view {
		float: left;
		min-height: 100%;
		vertical-align: middle;
		position: relative;
		width: 148px;
		.journals {
			list-style-type: none;
			padding: 0;
			.journal-view-header {

			}
			.journal {
				.journal-name {
					width: 65%;
    				overflow: hidden;
    				white-space: nowrap;
    				text-overflow: ellipsis;
    				float: left;
				}
				.delete-journal {
					padding: 0 10px;
    				float: right;
    				background-color: transparent;
    				border: none;
					&:hover {
						color: red;
					}
				}
				width: 100%;
				padding: 0;
				cursor: pointer;
				&:hover {
					background-color: #ddd;
				}
			}
		}
	}
	.side-caret {
		position: absolute;
	    right: 11px;
    	height: 100%;
    	padding: 5px;
    	&:hover {
    		cursor: pointer;
    		background-color: #eee;
    	}

	}
}

.page-view-ctr-wrapper{
	float: left;
	.page-view {
		padding: 30px 0;
		.journal-header {
			color: #444;
			.edit-journal-name {
				background-color: transparent;
				border: none;
				padding: 0 20px;
				&:hover {
					.fa-pencil {
						opacity: 0.8;
					}
					.fa-check {
						color: #228822;
					}
				}
			}
		}
		.journal-subheader {
			* {
				display: inline-block;
				float: left;
			}
			.save-status {
				margin-left: 20px;
			}
			.btn {
				float: right;
				margin-bottom: 20px;
				margin-left: 20px;
			}

		}
		.editable-box {
			clear: both;
			height: 450px;
			padding: 20px;
			box-shadow: 0 0 5px #999 inset;
			border-radius: 5px;
			background-color: #fff;
			&:focus {
				outline: none;
				box-shadow: 0 0 9px -3px #0D1178 inset;
			}
		}
	}
}


