.vert-collapsed {
	width: 50px !important;
}

.sidebar {
	position: fixed;
	overflow: hidden;
	min-height: 100%;
	float: left;
	width: 200px;
	background-color: #fff;
	padding: 20px;
	border-right: 1px #ccc solid;
	border-top: 1px #ccc solid;
	border-radius: 5px;
	.journal-view {
		float: left;
		min-height: 100%;
		vertical-align: middle;
		position: relative;
		width: 148px;
		.journals {
			list-style-type: none;
			padding: 0;
			.journal-view-header {

			}
			.journal {
				padding: 0;
				cursor: pointer;
				&:hover {
					background-color: #ddd;
				}
			}
		}
	}
	.side-caret {
		position: absolute;
	    right: 11px;
    	height: 100%;
    	padding: 5px;
    	&:hover {
    		cursor: pointer;
    		background-color: #eee;
    	}

	}
}

.page-view-ctr-wrapper{
	float: left;
	.page-view {
		padding: 30px 0;
		.editable-box {
			height: 450px;
			padding: 20px;
			box-shadow: 0 0 5px #999 inset;
			border-radius: 5px;
			background-color: #fff;
			&:focus {
				outline: none;
				box-shadow: 0 0 9px -3px #0D1178 inset;
			}
		}
	}
}


